*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36,36,36);
  color: white;
  overflow-x: hidden;
}

section{
  width: 60vw;
  margin: 20px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgb(73,73,73);
}

.Heading{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Content{
  font-size: 1.2rem;
}


@media (max-width:500px){
  section{
    width: 95vw;
  }
}